**/__pycache__
**/*.py[cod]
**/*.pyo
**/*.pyd
**/venv
**/.venv
**/node_modules
**/.npm-cache
**/dist
**/.git
**/.gitignore
**/.env
**/.env.*
**/*.log
**/*.err
project/backend/.pgdata
project/backend/uploads
project/backend/.venv
project/backend/venv
project/frontend/dist
project/frontend/node_modules
